<app-page-banner title="Over ons" imageUrl="TitelFoto_AboutUs.webp"></app-page-banner>
<app-square class="appSquare" title="Over het bedrijf">
    <h5>Gevestigd in Merksem, Antwerpen, is Manolek & Sanitaire gespecialiseerd in de installatie van warmtepompen, met expertise in zowel nieuwbouw- als renovatieprojecten. Sinds onze oprichting in 2018 hebben we ons gericht op duurzame en efficiënte oplossingen voor woningen en bedrijven.
    </h5>
    <h5>Met ons toegewijde team van vakmensen bieden we niet alleen hoogwaardige installaties van warmtepompen, maar ook een scala aan andere diensten die bijdragen aan een comfortabel en energiezuinig thuis. Wij zijn gevestigd aan de Kwadeveldenstraat 78 en zijn trots op ons werk in de regio Antwerpen, waar klanttevredenheid en milieuvriendelijkheid altijd voorop staan.</h5>
    <button class="button">Contacteer ons</button>
</app-square>
