h5{
    line-height: 1.7;
 
}

h6{
    font-size: 1px
}

.button {
    position:relative;
    padding: 1rem 2rem 1rem 2rem;
    border: transparent;
    font-size: 1.5rem;
    font-weight:500;
    margin-top: 1rem;
    z-index: 1; 
    color: rgb(255, 93, 98);
    background-color: rgb(7, 87, 159); 
}
.appSquare{
    max-height: 5rem;
}
.button:hover{
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease; 
    color: rgb(7, 87, 159); 
    background-color: rgb(255, 93, 98);
    
}