<header id="headerTop">
    <div id="contactHeader">
        <ul>
            <li id="firstEle">
                <a href="tel:+32489689897">
                    <i class="bi bi-telephone"></i> +32489689897
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="mailto:manolekensanitaire@gmail.com">
                    <i class="bi bi-envelope"></i> manolekensanitaire&#64;gmail.com
                </a>
            </li>
        </ul>
    </div>
</header>

<header id="headerBottom">
    <a class="button" routerLink="/home" data-value="" (click)="regularNavigate($event)" id="linkImg">
        <img src="Logo_Manolek.png" alt="Logo_Manolek">
    </a>
    <nav>
        <div class="dropdown-container">
            <select name="services" id="servicesDropdown" (change)="navigate($event)">
                <option selected disabled hidden value="">Diensten&nbsp;&nbsp;&nbsp;▾</option>
                <option value="heating">Verwarming</option>
                <option value="sanitary">Sanitair</option>
                <option value="constructionRenovation">Nieuwbouw & renovatie</option>
                <option value="electrical">Elektriciteit</option>
                <option value="ventilationMaintenance">Ventilatie & onderhoud</option>
            </select>
        </div>
        <a class="button" data-value="about" (click)="regularNavigate($event)">Wie zijn wij</a>
        <a class="button" data-value="contact" (click)="regularNavigate($event)">Contact</a>
    </nav>
</header>