<app-page-banner title="Elektriciteit" imageUrl="TitelFoto_Elektriciteit.jpeg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Elektriciteitskast">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren elektriciteitskasten die voldoen aan de hoogste normen van veiligheid en functionaliteit. Onze experts zorgen voor een betrouwbare stroomverdeling in je woning of bedrijf.</h5>
            </div>
        </div>
    </app-square>
    <img src="Elektriciteitskast.jpg" alt="Elektriciteitskast installeren" class="service-image">
    <img src="Stopcontacten.jpg" alt="Selectie van stopcontacten" class="service-image">
    <app-square title="Stopcontacten Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij zorgen voor de installatie van verschillende soorten stopcontacten op strategische locaties, zodat je altijd eenvoudig toegang hebt tot stroom in elke ruimte van je huis of kantoor.</h5>
            </div>
        </div>
    </app-square>
    
    
    <app-square title="Verlichting Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren verschillende soorten verlichting, waaronder sfeervolle en functionele verlichting voor in huis. Onze traplichtjes zorgen onder andere voor extra veiligheid in huis, terwijl we ook andere verlichtingsoplossingen aanbieden die passen bij jouw stijl.</h5>
                <button class="button">Bekijk alle mogelijkheden</button>
            </div>
        </div>
    </app-square>
    <img src="Traplichtjes.jpg" alt="Traplichtjes installeren" class="service-image">
</div>
<app-parallax-contact imageUrl="Parallax.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wil je meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax">Contacteer ons</button>
    </div>
    </app-parallax-contact>