<div class="coverAll">
<app-page-banner title="Elektriciteit" imageUrl="TitelFoto_Elektriciteit.jpeg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Elektriciteitskast">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren elektriciteitskasten die voldoen aan de hoogste normen van veiligheid en functionaliteit. Onze experts zorgen voor een betrouwbare stroomverdeling in uw woning of bedrijf, waardoor u altijd kunt rekenen op een stabiele elektriciteitsvoorziening.</h5><br>
                <h5>Met aandacht voor de specifieke behoeften van jouw situatie, bieden we op maat gemaakte oplossingen die zowel efficiënt als veilig zijn. Of u nu een nieuwbouwproject hebt of een renovatie, onze professionele installaties zorgen ervoor dat uw elektriciteitsnetwerk optimaal functioneert en voldoet aan alle wettelijke eisen.</h5>
            </div>
        </div>
    </app-square>
    <img src="Elektriciteitskast.jpg" alt="Elektriciteitskast installeren" class="service-image">
    <img src="Stopcontacten.jpg" alt="Selectie van stopcontacten" class="service-image">
    <app-square title="Stopcontacten Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij zorgen voor de installatie van verschillende soorten stopcontacten op strategische locaties, zodat u altijd eenvoudig toegang hebt tot stroom in elke ruimte van uw huis of kantoor. Onze aanpak garandeert dat uw stopcontacten veilig en efficiënt worden geïnstalleerd, rekening houdend met uw specifieke behoeften en het ontwerp van uw interieur.</h5><br>
                <h5>Of u nu meer stopcontacten nodig hebt in de woonkamer, slaapkamers of op kantoor, onze experts adviseren u over de beste oplossingen. Zo zorgen we ervoor dat u elektrische apparaten gemakkelijk kunnen worden aangesloten, waardoor u comfort en functionaliteit in uw ruimte optimaliseert.</h5>
            </div>
        </div>
    </app-square>
    
    
    <app-square title="Verlichting Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren verschillende soorten verlichting, waaronder sfeervolle en functionele verlichting voor in huis. Onze oplossingen zijn ontworpen om de sfeer in elke ruimte te verbeteren en tegelijkertijd te voldoen aan jouw specifieke behoeften.</h5><br>
                <h5>Onze traplichtjes zorgen bijvoorbeeld voor extra veiligheid in huis, vooral tijdens de donkere uren. Daarnaast bieden we een scala aan verlichtingsopties, van moderne wandlampen tot stijlvolle hanglampen, zodat u altijd de juiste ambiance kunt creëren die bij jouw stijl en interieur past.</h5>
                <button class="button" [routerLink]="['/contact']">Bekijk alle mogelijkheden</button>
            </div>
        </div>
    </app-square>
    <img src="Traplichtjes.jpg" alt="Traplichtjes installeren" class="service-image">
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax2.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wilt u meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
    </app-parallax-contact>
</div>
</div>