<div class="coverAll">
    <app-page-banner title="Ventilatie" imageUrl="TitelFoto_Ventilatie.jpg"></app-page-banner>
    <div class="encompassPage">
        <app-square title="Ventilatiesysteem D">
            <div class="content-container">
                <div class="text-content">
                    <h5>Onze D ventilatiesystemen zorgen voor een constante luchtverversing in jouw woning of bedrijfspand. Dit systeem voert de gebruikte lucht af en vervangt deze door verse lucht van buiten, wat bijdraagt aan een gezond binnenklimaat.</h5><br>
    <h5>Door de mechanische ventilatie wordt de luchtkwaliteit verbeterd en vochtproblemen verminderd, wat ideaal is voor zowel nieuwbouw als renovatieprojecten. Laat ons helpen om het juiste systeem voor jouw specifieke situatie te vinden, zodat u kunt genieten van schone, frisse lucht in elke ruimte.</h5>
                    <button class="button" [routerLink]="['/contact']">Wilt u meer weten?</button>
                </div>
            </div>
        </app-square>
        <img src="Ventilatie2.png" alt="ventilatie" class="service-image">
        <img src="Ventilatie3.png" alt="ventilatie" class="service-image">
        <app-square title="Ventilatiesysteem C+">
            <div class="content-container">
                <div class="text-content">
                    <h5>Onze C+ ventilatiesystemen combineren comfort met energie-efficiëntie. Dit systeem biedt een balans tussen luchtverversing en energiebesparing, waardoor u kunt genieten van frisse lucht zonder hoge energiekosten.</h5><br>
                    <h5>In tegenstelling tot het standaard C-systeem, biedt het C+ systeem de mogelijkheid voor warmteterugwinning, wat resulteert in lagere energiekosten. Het C+ systeem past zich aan aan de behoeften van de bewoners en is ideaal voor moderne woningen. Wij helpen u bij de installatie en onderhoud, zodat u kunt vertrouwen op een effectief ventilatiesysteem dat bijdraagt aan een gezond en comfortabel leefklimaat.</h5>
                </div>
            </div>
        </app-square>
    </div>
    
    <div class="alignBottom">
        <app-parallax-contact imageUrl="Parallax2.jpg">
            <div class="parallaxDiv">
                <span class="titleName">Wilt u meer weten?</span>  
                <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
                <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
            </div>
        </app-parallax-contact>
    </div>
</div>