<div class="coverAll">
    <div class="alignTop">
    <app-frontpage-banner 
        companyName="Manolek & Sanitaire" 
        title="Uw specialist in duurzame warmteoplossingen voor elke bouwfase" 
        imageUrl="Frontpage.jpg">
        <button class="button" [routerLink]="['/contact']">Meer weten</button>
    </app-frontpage-banner>
</div>
    <div class="alignBottom">
        <app-parallax-contact imageUrl="Parallax.jpg">
            <div class="parallaxDiv">
                <span class="titleName">Wil je meer weten?</span>  
                <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
                <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
            </div>
        </app-parallax-contact>
    </div>
</div>