<div class="coverAll">
    <div class="alignTop">
      <app-frontpage-banner 
          companyName="Manolek BV" 
          title="Uw specialist in duurzame warmteoplossingen voor elke bouwfase" 
          imageUrl="Frontpage.jpg">
        <button class="button" [routerLink]="['/contact']">Meer weten</button>
      </app-frontpage-banner>
    </div>
    <div class="inbetween">
      <h4 class="slider-title">Onze diensten</h4>
      
      <div class="carousel">
        <swiper-container slides-per-view="1" speed="5000" loop="true" css-mode="true" pagination navigation>
          <swiper-slide>
            <div class="slide-content">
              <img src="Electricity_Icon.png" alt="Elektriciteit" class="slide-image"/>
              <h5>Elektriciteit</h5>
              <div id="underlineTitle"></div>
              <p class="slide-text"> Van elektrische bedrading tot slimme installaties, wij leveren veilige en moderne elektrische systemen die
                voldoen aan de hoogste normen.</p>
              <button class="slide-button" [routerLink]='["electrical"]'>Meer weten</button>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="slide-content">
              <img src="Heat-pump-icon.png" alt="Verwarming" class="slide-image"/>
              <h5>Verwarming</h5>
              <div id="underlineTitle"></div>
              <p class="slide-text">Of het nu gaat om vloerverwarming of energiezuinige warmtepompen, wij leveren verwarmingsoplossingen die
                comfort bieden en bijdragen aan een duurzame toekomst.</p>
              <button class="slide-button"[routerLink]='["heating"]'>Meer weten</button>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="slide-content">
                <img src="Ventilation-icon.png" alt="Ventilatie" class="slide-image"/>
                <h5>Ventilatie</h5>
                <div id="underlineTitle"></div>
                <p class="slide-text">Onze ventilatiesystemen zorgen voor een gezonde binnenlucht, met aandacht voor energie-efficiëntie en comfort.</p>
                <button class="slide-button" [routerLink]='["ventilation"]'>Meer weten</button>
            </div>
        </swiper-slide>
          <swiper-slide>
            <div class="slide-content">
              <img src="Sanitary-icon.png" alt="Sanitair" class="slide-image"/>
              <h5>Sanitair</h5>
              <div id="underlineTitle"></div>
              <p class="slide-text">Wij bieden professionele sanitaire installaties, van badkuipen tot kranen, met een sterke focus op kwaliteit en duurzaamheid.</p>
              <button class="slide-button" [routerLink]='["sanitary"]'>Meer weten</button>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="slide-content">
              <img src="Renovation-icon.png" alt="Nieuwbouw & renovatie" class="slide-image"/>
              <h5>Nieuwbouw & renovatie</h5>
              <div id="underlineTitle"></div>
              <p class="slide-text">Bij zowel nieuwbouwprojecten als renovaties zorgen wij voor de professionele installatie van camera's en andere voorzieningen, afgestemd op uw bouwfase.</p>
              <button class="slide-button" [routerLink]='["constructionRenovation"]'>Meer weten</button>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="alignBottom">
      <app-parallax-contact imageUrl="Parallax2.jpg">
        <div class="parallaxDiv">
          <span class="titleName">Wil je meer weten?</span>  
          <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
          <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
        </div>
      </app-parallax-contact>
    </div>
  </div>