<div class="coverAll">
<app-page-banner title="Sanitair" imageUrl="TitelFoto_Sanitair.jpg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Buizen Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden professionele installatie van leidingen voor sanitair in zowel nieuwbouw- als renovatieprojecten. Onze ervaren vakmensen zorgen ervoor dat de leidingen zorgvuldig worden geïnstalleerd, zodat je sanitaire systemen betrouwbaar en efficiënt werken. We letten op elk detail en gebruiken alleen hoogwaardige materialen om duurzaamheid en functionaliteit te garanderen.</h5>
                <br>
                <h5>Daarnaast houden we rekening met jouw specifieke wensen en de eisen van het project, zodat de installatie perfect aansluit bij de rest van je inrichting. Van het aanleggen van waterleidingen tot afvoer- en rioleringssystemen, wij staan voor je klaar om een veilige en functionele oplossing te bieden voor al je sanitaire behoeften.</h5>
            </div>
        </div>
    </app-square>
    <img src="Buizen3.jpg" alt="Buizen installeren" class="service-image">
    <img src="Badkuip.jpg" alt="Badkuipen" class="service-image">
    <app-square title="Badkuipen">
        <div class="content-container">
            <div class="text-content">
                <h5>Ervaar het comfort en de luxe van onze zorgvuldig geselecteerde badkuipen. Met een breed scala aan stijlen en maten vind je altijd een badkuip die naadloos aansluit bij jouw interieur. Of je nu de voorkeur geeft aan een moderne, strakke uitstraling of een meer klassieke look, wij hebben opties die aan al je wensen voldoen.</h5>
                <br>
                <h5>Onze badkuipen zijn ontworpen met aandacht voor zowel esthetiek als functionaliteit, zodat je kunt genieten van ontspanning en stijl in jouw badkamer. Maak van je badkamer een persoonlijke oase met onze hoogwaardige badkuipen, die niet alleen prachtig zijn om naar te kijken, maar ook uitnodigen tot een moment van rust en verwennerij.</h5>
            </div>
        </div>
    </app-square>
    
    <app-square title="Douches">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze douches zijn ontworpen met een focus op zowel comfort als stijl. Met diverse ontwerpen en functionaliteiten helpen wij je graag bij het vinden van de ideale doucheoplossing voor jouw badkamer. Of je nu op zoek bent naar een ruime inloopdouche, een stijlvolle douchecabine of een klassieke douchehoek, ons aanbod biedt voor ieder wat wils.</h5>
                <br>
                <h5>Onze deskundige adviseurs staan klaar om je te begeleiden in het kiezen van de juiste combinatie van materialen, afwerkingen en accessoires, zodat je een douche kunt creëren die perfect aansluit bij jouw wensen en levensstijl. Maak van je dagelijkse douche-ervaring een luxe moment met onze hoogwaardige doucheoplossingen.</h5>
            </div>
        </div>
    </app-square>
    <img src="Douche.jpg" alt="Douches" class="service-image">
    <img src="Kraan.jpg" alt="Kranen" class="service-image">
    <app-square title="Kranen">
        <div class="content-container">
            <div class="text-content">
                <h5>Upgrade je badkamer of keuken met onze moderne kranen. We hebben een breed scala aan stijlen en afwerkingen om aan je wensen te voldoen.</h5><br>
<h5>Onze kranen zijn niet alleen functioneel, maar ook een stijlvol accent in je interieur. Of je nu kiest voor een strakke, minimalistische look of een meer klassieke uitstraling, ons assortiment biedt de perfecte oplossing voor elke ruimte.</h5>
            </div>
        </div>
    </app-square>
    
    <app-square title="Toilet">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren betrouwbare en stijlvolle toiletten die perfect passen bij elk badkamerontwerp. Onze toiletten combineren functionaliteit met esthetiek, zodat je badkamer niet alleen praktisch is, maar ook een visueel aantrekkelijk geheel vormt.</h5><br>
<h5>Vraag ons naar de mogelijkheden en ontdek ons assortiment aan moderne en traditionele toiletten. Ons deskundige team helpt je graag bij het maken van de beste keuze die aansluit bij jouw wensen en stijl.</h5>
                <button class="button" [routerLink]="['/contact']">Bekijk de mogelijkheden</button>
            </div>
        </div>
    </app-square>
    <img src="Wc.jpg" alt="Toilet" class="service-image">
</div>
<div class="alignBottom">
    <app-parallax-contact imageUrl="Parallax2.jpg">
        <div class="parallaxDiv">
                <span class="titleName">Wil je meer weten?</span>  
                <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
                <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
        </div>
        </app-parallax-contact>
    </div>
    </div>