<app-page-banner title="Sanitair" imageUrl="TitelFoto_Sanitair.jpg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Buizen Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden professionele installatie van leidingen voor zowel nieuwbouw als renovatie. Onze experts zorgen ervoor dat je sanitair systemen betrouwbaar en efficiënt werken.</h5>
            </div>
        </div>
    </app-square>
    <img src="Buizen3.jpg" alt="Buizen installeren" class="service-image">
    <img src="Badkuip.jpg" alt="Badkuipen" class="service-image">
    <app-square title="Badkuipen">
        <div class="content-container">
            <div class="text-content">
                <h5>Geniet van luxe met onze selectie badkuipen. We bieden verschillende stijlen en maten aan, perfect voor elk interieur.</h5>
            </div>
        </div>
    </app-square>
    

    <app-square title="Douches">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze douches zijn ontworpen voor comfort en stijl. We helpen je bij het kiezen van de perfecte doucheoplossing voor je badkamer.</h5>
            </div>
        </div>
    </app-square>
    <img src="Douche.jpg" alt="Douches" class="service-image">
    <img src="Kraan.jpg" alt="Kranen" class="service-image">
    <app-square title="Kranen">
        <div class="content-container">
            <div class="text-content">
                <h5>Upgrade je badkamer of keuken met onze moderne kranen. We hebben een breed scala aan stijlen en afwerkingen om aan je wensen te voldoen.</h5>
            </div>
        </div>
    </app-square>
    

    <app-square title="Toilet">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren betrouwbare en stijlvolle toiletten die passen bij elk badkamerontwerp. Vraag ons naar de mogelijkheden!</h5>
                <button class="button">Bekijk de mogelijkheden</button>
            </div>
        </div>
    </app-square>
    <img src="Wc.jpg" alt="Toilet" class="service-image">
</div>