<div class="coverAll">
<app-page-banner title="Verwarming" imageUrl="TitelFoto_Verwarming.jpg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Warmtepomp">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze warmtepompen zijn ideaal voor zowel nieuwbouw als renovatieprojecten. Ze zorgen voor efficiënte verwarming en koeling, met een minimale impact op het milieu. Wij helpen je graag bij het kiezen van het juiste systeem dat perfect bij je woning of bedrijf past.</h5>
                <button class="button" [routerLink]="['/contact']">Wil je meer weten?</button>
            </div>
            
        </div>
    </app-square>
    <img src="Warmtepomp2.jpg" alt="Warmtepomp" class="service-image">
    <img src="VloerVerwarming.jpg" alt="Vloerverwarming" class="service-image">
    <app-square title="Vloerverwarming">
        <div class="content-container">
            
            <div class="text-content">
                <h5>Altijd over een aangenaam verwarmde vloer lopen zonder een al te grote investering te hoeven doen? Overweeg dan om vloerverwarming in je pand te laten integreren. Eerst berekenen we het warmteverlies in je gebouw, zodat we weten waarop we precies moeten letten tijdens de installatie.</h5>
            </div>
        </div>
    </app-square>

    <app-square title="Centrale verwarming">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren en onderhouden centrale verwarmingssystemen die zorgen voor een optimale temperatuurregeling in je woning of bedrijfspand. Onze installaties zijn betrouwbaar en efficiënt, waardoor je energie kunt besparen zonder in te boeten op comfort.</h5>
            </div>
            
        </div>
    </app-square>
    <img src="CentraleVerwarming.jpg" alt="Centrale verwarming" class="service-image">
    <img src="Thermostaat.jpg" alt="Elektrische thermostaat" class="service-image">
    <app-square title="Elektrische thermostaat">
        <div class="content-container">
           
            <div class="text-content">
                <h5>Onze elektrische thermostaten geven je de controle over je verwarming, zodat je eenvoudig en snel de gewenste temperatuur kunt instellen. Slimme technologie zorgt ervoor dat je energieverbruik vermindert, terwijl je altijd geniet van een comfortabel binnenklimaat.</h5>
            </div>
        </div>
    </app-square>
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wil je meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
    </app-parallax-contact>
</div>
</div>