<div class="coverAll">
<app-page-banner title="Verwarming" imageUrl="TitelFoto_Verwarming.jpg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Warmtepomp">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze warmtepompen zijn ideaal voor zowel nieuwbouw als renovatieprojecten. Ze zorgen voor efficiënte verwarming en koeling, met een minimale impact op het milieu. Onze oplossingen zijn ontworpen om je energieverbruik te optimaliseren en tegelijkertijd het comfort in je woning of bedrijf te waarborgen.</h5><br>
<h5>Met verschillende modellen en capaciteiten helpen we je bij het kiezen van het juiste systeem dat perfect bij je specifieke behoeften en situatie past. Geniet van een duurzaam en kostenefficiënt verwarmings- en koelingssysteem dat bijdraagt aan een groenere toekomst.</h5>
                <button class="button" [routerLink]="['/contact']">Wil je meer weten?</button>
            </div>
            
        </div>
    </app-square>
    <img src="Warmtepomp2.jpg" alt="Warmtepomp" class="service-image">
    <img src="VloerVerwarming.jpg" alt="Vloerverwarming" class="service-image">
    <app-square title="Vloerverwarming">
        <div class="content-container">
            
            <div class="text-content">
                <h5>Altijd over een aangenaam verwarmde vloer lopen zonder een al te grote investering te hoeven doen? Overweeg dan om vloerverwarming in je pand te laten integreren. Deze verwarmingsoplossing biedt niet alleen comfort, maar is ook energiezuinig en discreet.</h5><br>
                <h5>Voordat we met de installatie beginnen, berekenen we het warmteverlies in je gebouw. Dit helpt ons om de meest geschikte systeemoplossingen te bepalen en ervoor te zorgen dat je vloer optimaal verwarmd wordt. Zo geniet je van een gelijkmatige warmteverdeling en lagere energiekosten.</h5>
            </div>
        </div>
    </app-square>

    <app-square title="Centrale verwarming">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren en onderhouden centrale verwarmingssystemen die zorgen voor een optimale temperatuurregeling in je woning of bedrijfspand. Onze systemen zijn ontworpen voor betrouwbare en efficiënte werking, zodat je altijd kunt rekenen op een comfortabele omgeving.</h5><br>
<h5>Met onze oplossingen kun je aanzienlijk besparen op je energiekosten zonder in te boeten op comfort. We bieden een scala aan systemen die kunnen worden aangepast aan jouw specifieke behoeften en de kenmerken van je gebouw. Onze deskundige installateurs zorgen voor een professionele en zorgvuldige installatie, zodat je zorgeloos kunt genieten van een aangename temperatuur in elke ruimte.</h5>
            </div>
            
        </div>
    </app-square>
    <img src="CentraleVerwarming.jpg" alt="Centrale verwarming" class="service-image">
    <img src="Thermostaat.jpg" alt="Elektrische thermostaat" class="service-image">
    <app-square title="Elektrische thermostaat">
        <div class="content-container">
           
            <div class="text-content">
                <h5>Onze elektrische thermostaten geven je de controle over je verwarming, zodat je eenvoudig en snel de gewenste temperatuur kunt instellen. Deze gebruiksvriendelijke apparaten zijn ontworpen met slimme technologie die je helpt om je energieverbruik te verminderen, terwijl je altijd geniet van een comfortabel binnenklimaat.</h5><br>
                <h5>Met functies zoals programmeerbaarheid en afstandsbediening kun je je verwarming perfect afstemmen op jouw levensstijl. Dit resulteert niet alleen in een aangenamer gevoel, maar ook in lagere energiekosten. Laat ons je helpen bij het kiezen van de juiste thermostaat die past bij jouw verwarmingssysteem en behoeften.</h5>
            </div>
        </div>
    </app-square>
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax2.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wil je meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
    </app-parallax-contact>
</div>
</div>