<div class="coverAll">
<app-page-banner title="Verwarming" imageUrl="TitelFoto_Verwarming.jpg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Warmtepomp">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze warmtepompen zijn ideaal voor zowel nieuwbouw als renovatieprojecten. Ze zorgen voor efficiënte verwarming en koeling, met een minimale impact op het milieu. Onze oplossingen zijn ontworpen om uw energieverbruik te optimaliseren en tegelijkertijd het comfort in uw woning of bedrijf te waarborgen.</h5><br>
<h5>Met verschillende modellen en capaciteiten helpen we u bij het kiezen van het juiste systeem dat perfect bij uw specifieke behoeften en situatie past. Geniet van een duurzaam en kostenefficiënt verwarmings- en koelingssysteem dat bijdraagt aan een groenere toekomst.</h5>
                <button class="button" [routerLink]="['/contact']">Wilt u meer weten?</button>
            </div>
            
        </div>
    </app-square>
    <img src="Warmtepomp2.jpg" alt="Warmtepomp" class="service-image">
    <img src="VloerVerwarming.jpg" alt="Vloerverwarming" class="service-image">
    <app-square title="Vloerverwarming">
        <div class="content-container">
            
            <div class="text-content">
                <h5>Altijd over een aangenaam verwarmde vloer lopen zonder een al te grote investering te hoeven doen? Overweeg dan om vloerverwarming in uw pand te laten integreren. Deze verwarmingsoplossing biedt niet alleen comfort, maar is ook energiezuinig en discreet.</h5><br>
                <h5>Voordat we met de installatie beginnen, berekenen we het warmteverlies in uw gebouw. Dit helpt ons om de meest geschikte systeemoplossingen te bepalen en ervoor te zorgen dat uw vloer optimaal verwarmd wordt. Zo geniet u van een gelijkmatige warmteverdeling en lagere energiekosten.</h5>
            </div>
        </div>
    </app-square>

    <app-square title="Centrale verwarming">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij installeren en onderhouden centrale verwarmingssystemen die zorgen voor een optimale temperatuurregeling in uw woning of bedrijfspand. Onze systemen zijn ontworpen voor betrouwbare en efficiënte werking, zodat u altijd kunt rekenen op een comfortabele omgeving.</h5><br>
<h5>Met onze oplossingen kunt u aanzienlijk besparen op uw energiekosten zonder in te boeten op comfort. We bieden een scala aan systemen die kunnen worden aangepast aan jouw specifieke behoeften en de kenmerken van uw gebouw. Onze deskundige installateurs zorgen voor een professionele en zorgvuldige installatie, zodat u zorgeloos kunt genieten van een aangename temperatuur in elke ruimte.</h5>
            </div>
            
        </div>
    </app-square>
    <img src="CentraleVerwarming.jpg" alt="Centrale verwarming" class="service-image">
    <img src="Thermostaat.jpg" alt="Elektrische thermostaat" class="service-image">
    <app-square title="Elektrische thermostaat">
        <div class="content-container">
           
            <div class="text-content">
                <h5>Onze elektrische thermostaten geven u de controle over uw verwarming, zodat u eenvoudig en snel de gewenste temperatuur kunt instellen. Deze gebruiksvriendelijke apparaten zijn ontworpen met slimme technologie die u helpt om uw energieverbruik te verminderen, terwijl u altijd geniet van een comfortabel binnenklimaat.</h5><br>
                <h5>Met functies zoals programmeerbaarheid en afstandsbediening kunt u uw verwarming perfect afstemmen op jouw levensstijl. Dit resulteert niet alleen in een aangenamer gevoel, maar ook in lagere energiekosten. Laat ons u helpen bij het kiezen van de juiste thermostaat die past bij jouw verwarmingssysteem en behoeften.</h5>
            </div>
        </div>
    </app-square>
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax2.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wilt u meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
    </app-parallax-contact>
</div>
</div>