<div class="coverAll">
    <app-page-banner title="Erkend CERGA installateur" imageUrl="TitelFoto_Cerga.jpg"></app-page-banner>
    <div class="encompassPage">
        <app-square title="Kwaliteit en Erkenning">
            <div class="content-container">
                <div class="text-content">
                    <h5>Wij zijn erkend door CERGA dankzij onze training en focus op kwaliteit. Dit betekent dat we voldoen aan hoge standaarden in ons vakgebied, wat zorgt voor betrouwbare en veilige installaties.</h5><br>
<h5>Met onze certificering bieden we jou de beste service, zodat u zeker bent van een veilige, hoogwaardige installatie die voldoet aan alle eisen.</h5>
                    <button class="button" [routerLink]="['/contact']">Meer informatie</button>
                </div>
            </div>
        </app-square>
        <img src="CergaCertificaat.jpg" alt="cerga-certificaat" class="service-image">
    </div>
    
    <div class="alignBottom">
        <app-parallax-contact imageUrl="Parallax2.jpg">
            <div class="parallaxDiv">
                <span class="titleName">Wilt u meer weten?</span>  
                <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
                <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
            </div>
        </app-parallax-contact>
    </div>
</div>