<div class="coverAll">
<app-page-banner title="Nieuwbouw & renovatie" imageUrl="TitelFoto_Nieuwbouw.jpeg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Beveiliging">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden professionele installaties van beveiligingssystemen om je woning of bedrijf veilig te houden. Onze oplossingen zijn betrouwbaar en op maat gemaakt, zodat ze perfect aansluiten bij jouw specifieke behoeften en situatie.</h5><br>
                <h5>Of je nu op zoek bent naar camera's, alarmsystemen of toegangscontroles, ons ervaren team staat klaar om je te adviseren en de beste beveiligingsoplossing voor jouw situatie te realiseren.</h5>
            </div>
        </div>
    </app-square>
    <img src="Beveiliging.jpg" alt="Beveiliging installeren" class="service-image">
    <img src="Keuken.jpg" alt="Keuken installeren" class="service-image">
    <app-square title="Keuken">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze keukeninstallaties combineren functionaliteit met stijl. We helpen je bij het creëren van de perfecte keuken die aan al je wensen voldoet, van de indeling tot de afwerkingen.</h5><br>
                <h5>Onze deskundige teamleden staan klaar om je te adviseren over de beste keuzes in materialen, apparatuur en design, zodat je een keuken krijgt die niet alleen mooi is, maar ook praktisch in gebruik. Neem contact met ons op om de mogelijkheden te bespreken!</h5>
                <button class="button" [routerLink]="['/contact']">Wil je meer weten?</button>
            </div>
        </div>
    </app-square>
    

    <app-square title="Sauna Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Geniet van ontspanning in je eigen sauna. Wij installeren sauna's op maat, zodat je kunt genieten van wellness in je eigen huis, geheel afgestemd op jouw wensen en ruimte.</h5><br>
                <h5>Onze sauna's zijn ontworpen met aandacht voor zowel comfort als esthetiek. Kies uit verschillende stijlen, afwerkingen en accessoires, en transformeer je badkamer of een andere ruimte in een persoonlijke oase van rust.</h5>
            </div>
        </div>
    </app-square>
    <img src="Sauna.jpg" alt="Sauna installeren" class="service-image">
    <img src="Zwembad.jpg" alt="Zwembad installeren" class="service-image">
    <app-square title="Zwembad">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden complete zwembadinstallaties, van ontwerp tot realisatie. Geniet van de luxe van een zwembad in je eigen achtertuin en creëer een perfecte plek voor ontspanning en vermaak.</h5><br>
                <h5>Onze experts werken nauw met je samen om een zwembad te ontwerpen dat aansluit bij jouw wensen en de kenmerken van je tuin. Van moderne infinity pools tot traditionele zwembaden, wij zorgen voor een naadloze installatie en hoogwaardige afwerking.</h5>
            </div>
        </div>
    </app-square>
   
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax2.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wil je meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
</app-parallax-contact>
</div>
</div>