<div class="coverAll">
<app-page-banner title="Nieuwbouw & renovatie" imageUrl="TitelFoto_Nieuwbouw.jpeg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Beveiliging">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden professionele installaties van beveiligingssystemen om je woning of bedrijf veilig te houden. Onze oplossingen zijn betrouwbaar en op maat gemaakt.</h5>
            </div>
        </div>
    </app-square>
    <img src="Beveiliging.jpg" alt="Beveiliging installeren" class="service-image">
    <img src="Keuken.jpg" alt="Keuken installeren" class="service-image">
    <app-square title="Keuken">
        <div class="content-container">
            <div class="text-content">
                <h5>Onze keukeninstallaties combineren functionaliteit met stijl. We helpen je bij het creëren van de perfecte keuken die aan al je wensen voldoet.</h5>
                <button class="button" [routerLink]="['/contact']">Wil je meer weten?</button>
            </div>
        </div>
    </app-square>
    

    <app-square title="Sauna Installeren">
        <div class="content-container">
            <div class="text-content">
                <h5>Geniet van ontspanning in je eigen sauna. Wij installeren sauna's op maat, zodat je kunt genieten van wellness in je eigen huis.</h5>
            </div>
        </div>
    </app-square>
    <img src="Sauna.jpg" alt="Sauna installeren" class="service-image">
    <img src="Zwembad.jpg" alt="Zwembad installeren" class="service-image">
    <app-square title="Zwembad">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden complete zwembadinstallaties, van ontwerp tot realisatie. Geniet van de luxe van een zwembad in je eigen achtertuin.</h5>
            </div>
        </div>
    </app-square>
   
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wil je meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
</app-parallax-contact>
</div>
</div>