<div class="coverAll">
<app-page-banner title="Nieuwbouw & renovatie" imageUrl="TitelFoto_Nieuwbouw.jpeg"></app-page-banner>
<div class="encompassPage">
    <app-square title="Beveiliging">
        <div class="content-container">
            <div class="text-content">
                <h5>Wij bieden professionele installaties van beveiligingssystemen om je woning of bedrijf veilig te houden. Onze oplossingen zijn betrouwbaar en op maat gemaakt, zodat ze perfect aansluiten bij jouw specifieke behoeften en situatie.</h5><br>
                <h5>Of je nu op zoek bent naar camera's, alarmsystemen of toegangscontroles, ons ervaren team staat klaar om je te adviseren en de beste beveiligingsoplossing voor jouw situatie te realiseren.</h5>
            </div>
        </div>
    </app-square>
    <img src="Beveiliging.jpg" alt="Beveiliging installeren" class="service-image">
</div>
<div class="alignBottom">
<app-parallax-contact imageUrl="Parallax2.jpg">
    <div class="parallaxDiv">
            <span class="titleName">Wil je meer weten?</span>  
            <span class="extraText">Profiteer van onze expertise en klantgerichte aanpak</span>
            <button class="buttonParallax" [routerLink]="['/contact']">Contacteer ons</button>
    </div>
</app-parallax-contact>
</div>
</div>